.burger {
  position: relative;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
}

.burger__line {
  position: absolute;
  width: 36px;
  height: 3px;
  left: 18px;
  background-color: #fff;
  transform: translateX(-50%);
}

.burger__line:first-child {
  top: 6px;
}

.burger__line:last-child {
  bottom: 8px;
  width: 24px;
  left: 12px;
}

.burger__line:nth-child(2) {
  top: 45%;
  width: 28px;
  left: 14px;
  transform: translateX(-50%) translateY(-50%);
}

.burger__close {
  display: none;
  cursor: pointer;
}

@media (max-width: 1919px) {
  .artist__info {
    width: 49%;
    margin-right: 40px;
  }

  .feedback__content {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 43px;
    padding-bottom: 43px;
  }

  .gallery-slider {
    width: 1050px;
  }

  .event__address {
    max-width: 55%;
  }

  .location {
    margin: 0;
    margin-bottom: 12px;
  }

  .event__card {
    background-size: auto;
  }

  .feedback__form {
    margin: 0;
    margin-bottom: 12px;
  }
}

@media (max-width: 1619px) {
  .header__item:nth-last-child(n+2) {
    margin-right: 25px;
  }

  .artist__list {
    max-height: 450px;
  }

  .artist__list__item {
    margin-right: 150px;
  }

  .dropdown {
    margin-right: 60px;
  }

  .event__address {
    max-width: 75%;
  }
}

@media (max-width: 1420px) {
  .container {
    max-width: 1420px;
    padding: 0 70px 0 70px;
  }

  .header__bottom {
    display: none;
  }

  .header__top__content {
    justify-content: space-between;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__nav {
    margin-right: 0;
  }

  .header__item:nth-last-child(n+2) {
    margin-right: 20px;
  }

  .hero__content {
    padding-top: 80px;
    padding-bottom: 94px;
  }

  .hero__title {
    line-height: 80px;
    margin-bottom: 15px;
  }

  .hero__descr {
    width: 48%;
  }

  .hero {
    margin-bottom: 60px;
  }

  .about {
    margin-bottom: 60px;
  }

  .about__descr {
    width: 100%;
  }

  .gallery-slider {
    max-width: 750px;
  }

  .gallery__content {
    padding: 60px 0;
  }

  .gallery {
    margin-bottom: 60px;
  }

  .catalog {
    margin-bottom: 60px;
  }

  .catalog__descr {
    max-width: 100%;
  }

  .artist__list__item {
    margin-right: 60px;
  }

  .events {
    margin-bottom: 60px;
  }

  .events__btn .swiper-button-next {
    right: 43px;
  }

  .events__btn .swiper-button-prev {
    left: 45px;
  }

  .project__descr {
    max-width: 100%;
  }

  .feedback__form {
    margin: 0;
  }

  .form__input {
    margin-right: 2px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 50px 0 50px;
  }

  .header__top__content {
    padding: 29px 0 26px 0;
  }

  .header__login--burger {
    display: inline-block;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    padding: 20px 88px;
    color: #fff;
  }

  .header__login--burger:active {
    background-color: #9D5CD0;
  }

  .header__bottom {
    display: none;
  }

  .header__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 250px;
    height: 100vh;
    z-index: 1000;
    padding-top: 38px;
    padding-left: 48px;
    padding-bottom: 50px;
    background-color: #000;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    overflow-y: auto;
  }

  .header__item:nth-last-child(n+2) {
    margin: 0;
  }

  .header__item:nth-last-child(2) {
    margin-bottom: auto;
  }

  .header__list--active {
    visibility: visible;
    transform: none;
  }

  .header__link {
    font-weight: 600;
    font-size: 24px;
    line-height: 64px;
  }

  .burger {
    display: block;
  }

  .burger__close {
    display: block;
  }

  .burger__line {
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:first-child {
    width: 29px;
    top: 50%;
    left: 0;
    transform: rotate(45deg);
    transform-origin: center;

  }

  .stop-scroll {
    overflow: hidden;
  }

  .burger--active .burger__line:last-child {
    width: 29px;
    bottom: auto;
    left: 0;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
  }

  .header__login__descr {
    display: none;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__nav {
    margin-right: 0;
  }

  .header__top__content {
    display: flex;
    justify-content: space-between;
  }

  .header__search {
    display: block;
  }

  .header__search__button {
    margin-right: 10px;
  }

  .hero__content {
    padding-top: 105px;
    padding-bottom: 135px;
  }

  .hero__swiper source {
    object-fit: cover;
  }

  .hero__title {
    margin: 0;
    font-size: 72px;
    line-height: 98px;
  }

  .hero__descr {
    width: 80%;
    margin-top: -11px;
    margin-bottom: 157px;
  }

  .hero {
    margin-bottom: 82px;
  }

  .about {
    margin-bottom: 70px;
  }

  .gallery__content {
    padding-bottom: 75px;
  }

  .gallery-slider {
    max-width: 595px;
    padding-top: 23px;
  }

  .gallery__content {
    padding: 80px 0 75px;
  }

  .choices {
    width: 87%;
    margin-bottom: 105px;
  }

  .gallery__filter {
    margin-right: 9px;
  }

  .gallery {
    margin-bottom: 80px;
  }

  .modal__body {
    max-width: 594px;
  }

  .artist__info {
    width: 57%;
    margin-right: 0px;
  }

  .artist img {
    max-width: none;
  }

  .artist__list__item {
    margin-right: 67px;
  }

  .artist__none img {
    max-width: 100%;
  }

  .artist__list {
    padding: 25px 0 25px 0;
  }

  .catalog {
    margin-bottom: 75px;
  }

  .catalog__descr {
    margin-bottom: 40px;
  }

  #event1 {
    background-image: url(../img/event/event1__1024.png);
  }

  #event2 {
    background-image: url(../img/event/event2__1024.png);
  }

  #event3 {
    background-image: url(../img/event/event3__1024.png);
  }

  #event4 {
    background-image: url(../img/event/event4__1024.png);
  }

  #event5 {
    background-image: url(../img/event/event5__1024.png);
  }

  .events-swiper .swiper-wrapper {
    min-height: 683px;
  }

  .events-swiper .swiper-slide {
    padding: 33px;
    padding-bottom: 40px;
    padding-top: 214px;
  }

  .event__address {
    margin-bottom: 3px;
  }

  .event__title {
    margin-bottom: 4px;
  }

  .events__btn {
    display: none;
  }

  .swiper-pagination {
    display: block;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -43px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    background: #666;
  }

  .events {
    margin-bottom: 120px;
  }

  .projects-swiper .swiper-slide .projects__partner {
    height: 126px;
    padding: 0px 50px;
  }

  .projects-swiper {
    padding-left: 53px;
    padding-right: 50px;
  }

  .projects__btn .swiper-button-prev,
  .projects__btn .swiper-button-next {
    top: 38%;
  }

  .projects__btn .swiper-button-prev {
    left: 0;
  }

  .projects__btn .swiper-button-next {
    right: 0;
  }

  .feedback__content {
    padding-top: 42px;
    padding-bottom: 38px;
  }

  .location {
    margin: 0;
    margin-bottom: 19px;
  }

  .location__name {
    display: block;
    margin-bottom: 10px;
  }

  .location__address {
    font-size: 14px;
    line-height: 19px;
  }

  .form__input {
    margin-right: 16px;
  }

  .feedback__btn {
    margin-top: 10px;
    padding: 12px 39px 8px 41px;
  }

  .feedback__form {
    margin-bottom: 30px;
  }

  .social__link {
    margin-right: 15px;
  }

  .footer__social {
    margin-top: -9px;
  }

  .footer__social__link svg {
    width: 60px;
    height: 60px;
  }
}


@media (max-width: 960px) {
  .gallery__content {
    flex-direction: column;
  }

  .gallery__filter {
    margin: 0;
  }

  .choices {
    width: 100%;
    margin-bottom: 50px;
  }

  .gallery-slider {
    max-width: 100%;
  }

  .artist {
    flex-direction: column-reverse;
  }

  .artist__info {
    width: 100%;
    margin-right: 0;
  }

  .artist__lists {
    width: 100%;
    margin-bottom: 53px;
  }

  .artist__list {
    max-height: 306px;
  }

  .event__card {
    background-size: 100% 30%;
  }

  .projects-swiper .swiper-slide .projects__partner {
    padding: 0 23px;
  }

  #partner4 {
    background-size: 45%;
  }
}


@media (max-width: 768px) {
  .header__login--burger {
    padding: 10px 31px;
  }

  .hero {
    margin-bottom: 80px;
  }

  .hero__content {
    padding-bottom: 136px;
  }

  .hero__descr {
    width: 100%;
  }

  .header__search__form {
    top: -36px;
    right: -50px;
    padding: 34px 50px 34px 50px;
    width: 100vw;
    transform: none;
  }

  .header__search__input {
    width: 100%;
    margin-right: 0;
  }

  .header__search__close {
    margin-left: 23px;
  }

  .gallery__filter {
    width: 42%;
    margin-bottom: 38px;
  }

  .choices {
    margin-bottom: 40px;
  }

  .gallery-slider {
    padding-top: 0;
  }

  .gallery-swiper .swiper-buttons .swiper-pagination {
    margin-left: 19px;
    margin-right: 19px;
  }

  .catalog__descr {
    margin-bottom: 20px;
  }

  .artist__list {
    max-height: 338px;
  }

  .accordion__title {
    margin-bottom: -1px;
  }

  .artist__list__item {
    margin-right: 61px;
  }

  .artist__name {
    margin-top: 16px;
  }

  .artist__live {
    margin-bottom: 7px;
  }

  .artist__biography {
    max-width: 100%;
  }

  .catalog {
    margin-bottom: 80px;
  }

  #event1 {
    background-image: url(../img/768/event1__768.jpg);
  }

  #event2 {
    background-image: url(../img/768/event2__768.jpg);
  }

  #event3 {
    background-image: url(../img/768/event3__768.jpg);
  }

  #event4 {
    background-image: url(../img/768/event4__768.jpg);
  }

  #event5 {
    background-image: url(../img/768/event5__768.jpg);
  }

  .event__card {
    background-size: auto;
  }

  .events-swiper .swiper-slide {
    padding-left: 34px;
    padding-right: 34px;
  }

  .event__title {
    margin-bottom: 6px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 7px);
  }

  .project__descr {
    max-width: 99%;
    margin-bottom: 28px;
  }

  .project__title {
    margin-bottom: 29px;
  }

  .projects-swiper {
    padding-left: 54px;
    padding-right: 49px;
  }

  .projects-swiper .swiper-slide .projects__partner {
    height: 104px;
    padding: 0 18px;
  }

  .location {
    margin-bottom: 30px;
  }

  .form__input {
    padding: 17px 112px 14px 22px;
    margin: 0;
  }

  .form__label:first-child {
    margin-right: 13px;
  }

  .feedback__btn {
    padding: 11px 28px 11px 26px;
    margin-top: 12px;
  }
}

@media (max-width: 760px) {

  .header__item:nth-child(2) {
    margin-top: 20px;
  }

  .header__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .header__item:nth-last-child(2) {
    margin-bottom: auto;
  }

  .container {
    padding: 0 15px 0 15px;
  }

  .hero {
    margin-bottom: 50px;
  }

  .header__list {
    padding-top: 20px;
    padding-left: 20px;
  }

  .header__link {
    font-size: 16px;
    line-height: 32px;
  }

  .hero__title {
    width: 100%;
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
  }

  .hero__swiper .swiper-slide img {
    width: auto;
    height: auto;
  }

  .hero__descr {
    width: 97%;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .hero__btn {
    padding: 13px 18px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 44px;
  }

  .header__top__content {
    padding: 5px 0 0 0;
  }

  .header__btn svg {
    width: 18px;
    height: 18px;
  }

  .header__search__form {
    top: -15px;
    right: -15px;
    padding: 11px 15px 11px 15px;
  }

  .header__search__form--active {
    align-items: center;
  }

  .header__search__button svg {
    width: 20px;
    height: 20px;
  }

  .burger__close {
    width: 15px;
    height: 15px;
  }

  .header__search__close svg {
    width: 15px;
    height: 15px;
  }

  .header__search__input {
    width: 100%;
  }

  .burger__line {
    width: 25px;
    height: 2px;
    left: 13px;
  }

  .burger__line:nth-child(2) {
    width: 16px;
    left: 9px;
  }

  .burger__line:last-child {
    width: 10px;
    left: 6px;
    bottom: 14px;
  }

  .burger__line:first-child {
    top: 9px;
  }

  .header__logo {
    margin-right: 21px;
  }

  .section__title {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 38px;
  }

  .about__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .about {
    margin-bottom: 40px;
  }

  .gallery__content {
    padding: 50px 0;
  }

  .gallery__descr {
    margin-bottom: 5px;
  }

  .gallery__filter {
    width: 100%;
    margin-bottom: 30px;
  }

  .choices {
    margin-bottom: 31px;
  }

  .gallery-swiper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .gallery-swiper .swiper-wrapper {
    margin-bottom: 18px;
  }

  .swiper-buttons {
    margin-bottom: 0;
  }

  .gallery {
    margin-bottom: 49px;
  }

  .catalog__descr {
    display: none;
  }

  .accordion__title {
    padding-top: 18px;
    padding-bottom: 21px;
    font-size: 18px;
    line-height: 32px;
  }

  .artist__list {
    flex-wrap: nowrap;
    max-height: none;
    padding: 20px 0 20px 0;
    padding-right: 0;
  }

  .ui-icon {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }

  .artist img {
    max-width: 100%;
  }

  .artist__name {
    margin-bottom: 7px;
  }

  .artist__live {
    margin-bottom: 12px;
  }

  .artist__empty__title {
    font-size: 18px;
    line-height: 32px;
  }

  .artist__nopicture {
    width: 118px;
    height: 79px;
  }

  .artist__nopicture__bg {
    margin: 4px;
  }

  .catalog {
    margin-bottom: 51px;
  }

  .events-swiper .swiper-slide {
    padding-top: 217px;
    padding-left: 22px;
    padding-right: 17px;
    padding-bottom: 29px;
  }

  .event__card {
    background-size: 100% 30%;
  }

  .event__address {
    margin-bottom: 9px;
  }

  .event__descr {
    width: 93%;
  }

  .event__btn {
    padding-left: 5px;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -33px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
  }

  .events {
    margin-bottom: 80px;
  }

  .project__descr {
    margin-bottom: 18px;
  }

  .project__title {
    font-size: 18px;
    line-height: 32px;
  }

  .project__title {
    margin-bottom: 12px;
  }

  .projects-swiper {
    padding-left: 47px;
    padding-right: 48px;
  }

  .projects-swiper .swiper-slide .projects__partner {
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    height: 79px;
  }

  .projects__partner img {
    max-width: 80%;
  }

  .projects {
    margin-bottom: 28px;
  }

  .feedback__content {
    border: none;
    padding-top: 6px;
  }

  .location {
    margin-right: 0;
  }

  .location__name {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 25px;
  }

  .location__address {
    margin-bottom: 20px;
  }

  .form__input {
    padding: 11px 78px 9px 22px;
  }

  .form__label:first-child {
    margin-right: 0;
  }

  .form__input:first-child {
    margin-bottom: 18px;
  }

  .feedback__btn {
    margin-top: 3px;
    padding: 11px 6px 9px 26px;
    font-size: 12px;
    line-height: 16px;
  }

  .feedback__form {
    margin-bottom: 20px;
  }

  .social__descr {
    font-size: 18px;
    line-height: 32px;
  }

  .social__link svg {
    width: 50px;
    height: 50px;
  }

  .feedback__social {
    margin-bottom: 18px;
  }

  .map {
    height: 320px !important;
  }

  .footer__content {
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px 0;
  }

  .footer__social__link svg {
    width: 50px;
    height: 50px;
  }

  .footer__social {
    margin-top: 0;
    margin-bottom: 17px;
  }
}


@media (max-width: 690px) {
  .event__card {
    background-size: auto;
  }

  .event__title {
    font-size: 18px;
  }

  .event__descr {
    font-size: 14px;
  }

  .modal__body {
    max-width: 290px;
  }

  .modal__inner {
    flex-direction: column;
  }

  .modal__img {
    width: 100%;
    height: 200px;
  }

  .modal__text {
    padding: 17px 20px 100px;
  }

  .modal__year {
    margin-bottom: 12px;
  }
}

@media (max-width: 479px) {
  .artist__lists {
    margin-bottom: 51px;
  }

  .accordion__title {
    margin-bottom: 0;
  }

  .event__card {
    background-size: 100% 30%;
  }

  .event__title {
    font-size: 24px;
  }

  .event__descr {
    font-size: 16px;
  }

  .projects {
    margin-bottom: 44px;
  }

  .project__descr {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .projects__btn .swiper-button-prev,
  .projects__btn .swiper-button-next {
    top: 25%;
  }

  .projects-swiper .swiper-slide .projects__partner {
    height: 62px;
    padding: 0 30px;
  }

  .location {
    margin-bottom: 1px;
  }
}
